.what-is-this {
  display: block;
  font-size: 0.8em;
  margin: -10px 0 10px;
}

.feedback {
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
}

#error-section {
  background: #FFB38E;
  color: #A03838;
}

#success-section {
  background: #ADFBB0;
  color: #128A37;
}
